<div id="container">

  <div id="question">
    <h1>Stupid coaching</h1>
    <p><%= @question %></p>
    <p>— You</p>
  </div>

  <div id=answer style="background-color: #F9F9F9">
    <p><%= @answer %></p>
    <p>— Your coach</p>
  </div>

</div>
