<div id="container">
  <div id="question">
    <h1>Stupid coaching</h1>
    <hr>
    <p class="value"><%= @question %></p>
    <p>— You</p>
  </div>

  <div id= answer>
    <p class="value"><%= @answer %></p>
    <p>— Your coach</p>
  </div>
  <%= link_to "Ask something", ask_path %>
</div>
